# output dir
EXP-*

*.json
*.diff

# compilation and distribution
__pycache__
_ext
*.pyc
*.pyd
*.so
slowfast.egg-info/
build/
dist/
wheels/

# pytorch/python/numpy formats
*.pth
*.pkl
*.npy

# ipython/jupyter notebooks
*.ipynb
**/.ipynb_checkpoints/

# Editor temporaries
*.swn
*.swo
*.swp
*~

# editor settings
.idea
.vscode
_darcs

# project dirs
/datasets/*
!/datasets/*.*
/projects/*/datasets
/models
